{% extends "base.html.twig" %}
{% block form %}
    <div>
        <form>
            {% import "macros.twig" as forms %}
            <p>Name{{ forms.input('username') }}</p>
            <p>Email{{ forms.input('email', email, 'email') }}</p>
            <p>Number{{ forms.input('number', number, 'number') }}</p>
            <p>Password{{ forms.input('password', null, 'password') }}</p>
        </form>
    </div>
{% endblock %}