{% extends "base.html.twig" %}
{% block sidebar %}
    {{ parent() }}
    <h1 class="text-center">News</h1>
    <div class="row row-cols-1 row-cols-md-2">
    {% if not news.subscribed  %}
        {% for new in news %}
            <div class="col mb-4">
                <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Title {{ new.new|e }}</h2>
                    <p class="card-text">Description  {{ new.description|e }}</p>
                    <p class="card-text">Date  {{ new.datetime|e }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}